.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1rem;
}

.titulo span{
    background-color: orange;
    border-radius: 100px;
    border: 1px solid black;
    padding: 0.8rem 0.3rem;
    color: white;
}

.sisi {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-github {
    text-decoration: none;
    background-color: rgb(26, 12, 75);
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 3px;

}

/* header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10rem;
}
.inicio{
    color: rgb(13, 72, 72);
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
}
.logo{
    width: 8rem;
    height: 8rem;
    grid-column: 1/2;
    grid-row: 1/3;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 80%;
} */