header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10rem;
}
.inicio{
    color: rgb(13, 72, 72);
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
}
.logo{
    width: 8rem;
    height: 8rem;
    grid-column: 1/2;
    grid-row: 1/3;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 80%;
}